header, footer, .main-container {
    background-color: lightgray;
    width: 50%;
    max-width: 700px;
    margin: auto;
    padding: 10px 0;
}

header {
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
}

#main-pic {
    width: 180px;
    height: 180px;
    border: 1px solid white;
    border-radius: 50%;
}

a {
    text-decoration: none;
}

a:visited {
    color: darkblue;
}

.education, .experience {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
}

.education h2, .experience h2 {
    width: 100%;
}

body {
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: #c3ebd0;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    height: 100%;
}

section {
    padding: 10px 40px;
}

#name-heading {
    margin-top: 10px;
    font-size: 2em;
}

h2 {
    margin: 5px 0;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.content {
    margin: 0;
}